<div class="d-flex flex-column justify-content-center">
    <!--start filter-->
    <div class="col-6 col-lg-6 align-self-center mt-5">
        <h1 class="display-5 text-dark font-weight-bold">Finding locals</h1>
        <form [formGroup]="form" (ngSubmit)="processUserForm()">
            <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" placeholder="Location*" aria-label="Search" matInput formControlName="location"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredSearch" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width mt-3">
                <mat-label>Activity</mat-label>
                <mat-select disableRipple formControlName="activities">
                    <mat-option *ngFor="let i of localActivitiesLabels" [value]="i">{{i}}</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="mt-3">
                <button mat-raised-button color="primary" type="submit" [disabled]=""
                    [disabled]="form.invalid">Filter</button>
            </div>
        </form>
    </div>
    <!--end filter-->

    <!--start local offering details-->
    <div class="col-6 col-lg-6 align-self-center">
        <mat-card class="mt-5 mb-5" *ngFor="let local of locals; let i = index">

            <div class="d-flex row justify-content-center">
                <div class="col-lg-4 align-self-center flex-fill" align="center">
                    <img src="/api/auth/{{local.username}}" alt="" class="mb-2">
                </div>
                <div class="col-3 col-lg-3 align-self-left flex-fill" >
                    <div class="d-flex flex-column justify-content-left">
                        <ul>
                            <h3>User</h3>
                            <li>{{local.username}}</li>
                        </ul>
                        <ul>
                            <h3>Location</h3>
                            <li>{{local.location}}</li>
                        </ul>
                        <ul>
                            <h3>Activities</h3>
                            <li>{{local.activities}}</li>
                        </ul>
                        <ul>
                            <h3>Description</h3>
                            <li>{{local.description}}</li>
                        </ul>
                        <ul>
                            <button mat-raised-button color="primary" [routerLink]="['/user/', local.username]">View
                                Profile</button>
                        </ul>
                    </div>
                </div>

            </div>
        </mat-card>
    </div>
</div>

<!--end local offering details-->