<form [formGroup]="userForm" (ngSubmit)="processUserForm()" class="example-form" class="container mb-5 mt-5">

    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Enter your name</mat-label>
        <input formControlName="name" matInput placeholder="pat">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Enter your DOB</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dob" [max]="maxDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-radio-group aria-label="Select an option" class="example-full-width mt-5" formControlName="gender">
        <mat-radio-button [value]='femaleGender'>Female</mat-radio-button>
        <mat-radio-button [value]='maleGender'>Male</mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="outline" class="example-full-width mt-3">
        <mat-label>Country Of Residence</mat-label>
        <mat-select disableRipple (selectionChange)="onCountryChange($event.value)" formControlName="country">
            <mat-option *ngFor="let i of countryList" [value]="i">{{i}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>State Of Residence</mat-label>
        <mat-select disableRipple (selectionChange)="onStateChange($event.value)" formControlName="state">
            <mat-option *ngFor="let i of stateList" [value]="i">{{i}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>City Of Residence</mat-label>
        <mat-select disableRipple formControlName="city">
            <mat-option *ngFor="let i of cityList" [value]="i">{{i}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-label>Interests</mat-label>
    <section class="example-section" *ngIf="interestsArray">
        <mat-checkbox class="example-margin" [formControl]="interest"
            *ngFor="let interest of interestsArray.controls; let i = index">
            {{interestLabels[i]}}
        </mat-checkbox>
        <p *ngIf="hasUserFormError('interests')" class="notice">Please select at least one</p>
    </section>

    <mat-form-field appearance="outline" class="example-full-width mt-3">
        <mat-label>About Me</mat-label>
        <textarea matInput formControlName="introduction"></textarea>
    </mat-form-field>

    <div class="mt-3">
        <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">Submit</button>
        <button mat-raised-button color="primary" type="button" (click)="cancel()">Cancel</button>
    </div>

    <div *ngIf="failUserMsg" class="notice">
        {{failUserMsg}}
    </div>
    <div *ngIf="successUserMsg">
        {{successUserMsg}}
    </div>

</form>